$cyan: hsl(180, 56%, 35%);


$cyan-hover: hsl(180, 100%, 60%);

$Grayish-Violet: hsl(257, 7%, 63%);

$Veridrkblue: hsl(255, 11%, 22%);


$Vrydrkvlt: hsl(260, 8%, 14%);

.rounded-10{
    border-radius: 10px !important;
}

.mb-600{
  margin-bottom: 5%;
}
