@import "./partial";
.navbar__head {
  font-size: 50px;
  font-weight: 700;
}

.navbar {
  padding: 0 !important;
}

.navbar__navs {
  font-size: 24px;
  cursor: pointer;
  font-weight: 700;
  margin: 25px;
}
.navbar__navs:hover {
  color: black !important;
}

.navbar__navs:active {
  color: black !important;
}

.navbar__navs:focus {
  color: black !important;
}
.navbar__nav {
  text-decoration: none;
  list-style: none;

  padding: 0;
}

.container-nus {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 2500px;
  min-width: 375px;
}

.butto {
  background-color: $cyan !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 25px !important;
  padding: 10px 20px !important;
  white-space: nowrap;
}

.butto:focus {
  background-color: $cyan-hover !important;
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}

.navbar__login {
  font-size: 25px;
  color: gray;
  font-weight: 700;
  margin-right: 40px;
  cursor: pointer;
}
.navbar__login:active {
position: relative;
top:5px;
}

.content1 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.content1__sekil {
  position: absolute;
  right: -256px;
}

.content1__second {
  position: relative;
  
}

.content1__header {
  font-size: 100px;
  font-weight: 700;
  color: $Vrydrkvlt;
}

.content1__text {
  font-size: 30px;
  color: $Grayish-Violet;
}

.Butto-bigger {
  padding: 20px 40px !important;
  font-size: 35px !important;
}

.content1__first {
  padding: 0 !important;
  width: 60%;

}

.content1__second {
  padding: 0 !important;
  width: 40%;
}

.content2 {
  background-color: rgb(216, 216, 216);
  margin-top: 200px;
  padding-bottom: 200px;
}

.content2-inekli {
  height: 200px;
border-radius: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1110' height='168'%3E%3Cpath fill='%234B3F6B' fill-rule='evenodd' d='M647-93.924c0 52.724 15.5 90.486 73 114.877 57.5 24.391 113.055 2.134 168.786 14.894 55.731 12.76 55.731 94.962 108.214 145.549s163.142 62.874 253.12 11.552c89.976-51.322 130.765-171.152 103.88-241.807C1327.115-119.515 1275.593-184 1027-184c-248.593 0-380 37.353-380 90.076zm-781 213c0 52.724 15.5 90.486 73 114.877 57.5 24.391 113.055 2.134 168.786 14.894 55.731 12.76 55.731 94.962 108.214 145.549s163.142 62.874 253.12 11.552C559.095 354.626 599.884 234.796 573 164.141 546.115 93.485 494.593 29 246 29c-248.593 0-380 37.353-380 90.076z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $Veridrkblue !important;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content:center;
  padding: 50px 80px 10px 80px;
}

.content2-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content2__err {
  color: red;
  font-size: 20px;
}
.input-error {
  box-shadow: 0 0 5pt 2pt #ff0000;
}

.contemt2__wrapper {
  position: relative;
  bottom: 80px;
}

.content2__input {
  width: 70%;
  height: 90px;
  border-radius: 10px;
  font-size: 30px;
  outline: none;
}

.copied {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.copied__yazi1 {
  font-size: 30px;
}

.copied__yazi2 {
  font-size: 30px;
  color: $cyan;
  margin-right: 50px !important;
  margin-bottom: 0;
}

.aftered::after {
  content: "Copy" !important;
}
.aftered:active::after {
  content: "Copied!" !important;
}

.aftered:active {
  background-color: $Veridrkblue !important;
}

.svg {
  // xmlns:"http://www.w3.org/2000/svg";
  //  xmlns:xlink:"http://www.w3.org/1999/xlink";
  margin: auto;
  background: none;
  display: block;
  shape-rendering: auto;
  width: 204px;
  height: 204px;
  viewbox: 0 0 100 100;
  preserveaspectratio: xMidYMid;
  position: fixed;
}
.navgam__gam{
  font-size: 50px
}
.navgam__wrapper{
  width: 100%;
  display: flex;
justify-content: space-between;
}
.navGam{
display: none;
}

.navgam__nav{
  background-color: $Veridrkblue;
  border-radius: 8px;
  padding: 20px 10px;
// height: 100;
}

.anime {
  animation: oo 0.6s 1;
  animation-fill-mode: forwards;
}
@keyframes oo {
  0% {
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);  }

  100% {
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); }
}


.mb-boz{
  border-bottom: 1px gray solid;
}
@media only screen and (max-width: 1200px) {
.container-nus{
  width: 90%;
}
}



@media only screen and (max-width: 1000px) {
.navbar{
  display: none !important;
}
.navGam{
display: flex;
flex-direction: column;

}


.content1{
flex-direction: column-reverse !important;
}


.content1__header {
  font-size: 60px;
  font-weight: 700;
  color: $Vrydrkvlt;
  text-align: center;

}

.content1__text {
  font-size: 20px;
  color: $Grayish-Violet;
  text-align: center;
}

.Butto-bigger {
  padding: 15px 25px !important;
  font-size: 25px !important;
  text-align: center;
white-space: nowrap;
width: 100%;
}



.content2-inekli {
  height: 250px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='237' height='128'%3E%3Cpath fill='%234B3F6B' fill-rule='evenodd' d='M0-.924C0 51.8 15.5 89.562 73 113.953c57.5 24.391 113.055 2.134 168.786 14.894 55.731 12.76 55.731 94.962 108.214 145.549s163.142 62.874 253.12 11.552C693.095 234.626 733.884 114.796 707 44.141 680.115-26.515 628.593-91 380-91 131.407-91 0-53.647 0-.924z'/%3E%3C/svg%3E");  background-repeat: no-repeat;
  background-size: cover;
  background-color: $Veridrkblue !important;

  padding: 50px 80px 10px 80px;
}

.copied__sec{
  flex-direction: column;
  align-items: center;

}

.copied{
  flex-direction: column;
  height: 181px;
  align-items: center;
  justify-content: center;
}
.copied__yazi1{
  width: 90%;
  overflow: hidden;
}
.butto-90{
  width: 90%;
}


.content1__first {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.content1__sekil {
position: static;
}
.content1__second {
  width: 100%;
}

.content2-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content2__input {
  width: 100%;
  height: 75px;
margin-bottom: 10px;
}
.advanced__main{
  flex-direction: column;
}



.card1{
  top: 0;

}
.card3{
  top: 0;
}

.cardd{
width: 100%;
}










}